/* Default and Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

// SASS Helpers, Placeholders and Variables

%lg-display-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

$def-fonts: arial, sans-serif;

@mixin def-btn() {
    padding: 11px 20px;
    margin: 11px 4px;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    background: #f3f3f3;
    color: #757575;
    border-radius: 2px;
}

@mixin transition($duration) {
    -webkit-transition: ease-out $duration;
       -moz-transition: ease-out $duration;
        -ms-transition: ease-out $duration;
         -o-transition: ease-out $duration;
            transition: ease-out $duration;
}


/* Grid Container */

#container {
    display: grid;
    grid-template-rows: 15% 65% 10% 10%;
    grid-template-columns: 100%;
}

/* Navigation */

#navigation {
    @extend %lg-display-flex;
    grid-area: 1 / 1 / 2 / 2;
    align-items: center;
    padding: 17px 0;

    div:first-child {
        margin-left: 16px;
        color: #000;
        opacity: 0.75;
    }

    div:last-child {
        margin-right: 23px;
        color: #000;
        opacity: 0.85;
    }

    ul {
        display: flex;
        align-items: center;
    }

    ul li {
        display: inline;
        font-size: 13px;
        font-family: $def-fonts, helvetica;
        font-weight: 400;
    }

    ul li a {
        padding: 0 10px;
    }

    ul .fa-th {
        font-size: 18px;
        color: #737373;
    }

    ul .fa-bell {
        padding: 4.5px 0 0 5px;
        font-size: 10px;
        background: rgba(0, 0, 0, 0.65);
        color: #fff;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 50%;
    }

    ul .fa-user-circle {
        font-size: 29px;
        color: #1362ac;
    }
    
}

@media screen and (max-width: 760px) {
    #navigation {
        display: flex;
        flex-direction: column;

        div:first-child {
            margin-left: 0;
        }
    
        div:last-child {
            margin-right: 0;
        }

        div {
            margin: 5px 0;
        }
    }
}

/* Search */

#search {
    text-align: center;
    grid-area: 2 / 1 / 3 / 2;
    width: 70%;
    margin: 0 auto;
    padding: 120px 0 120px 0;

    img {
        width: 40%;
        margin-bottom: 15px;
    }

    .input {
        width: 65%;
        padding: 13px 15px;
        background: white url('images/mic.png') right no-repeat;
        background-size: 3%;
        border: 0.5px solid #cacaca;
        border-bottom: none;
        border-radius: 1px;
        outline: none;
        box-shadow: 0 1px 1px rgba(114, 114, 114, 0.55);
        @include transition(.4s);

        &:hover, &:active, &:focus {
            box-shadow: 2px 2px 4px rgba(114, 114, 114, 0.55);
        }
    }

    .search-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;

        a {
            @include def-btn();
        }
    }

    .g-versions {
        margin-top: 15px;
        font-size: 13px;
        font-family: $def-fonts, helvetica;
        font-weight: 400;
        color: #222;

        a {
            padding: 0 5px;
        }
    }
}

@media screen and (max-width: 760px) {
    #search {
        width: 100%;
        padding: 40px 0 80px 0;

        img {
            width: 80%;
        }

        .input {
            width: 95%;
            background-size: 5%;
        }

        .search-btn a {
            @include def-btn();
            padding: 11px 13px;
        }

        .g-versions {
            margin-top: 15px;
            font-size: 13px;
            font-family: $def-fonts, helvetica;
            font-weight: 400;
            color: #222;

            a {
                padding: 0 5px;
            }
        }
    }
}

#country {
    grid-area: 3 / 1 / 4 / 2;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    padding-left: 30px;

    p {
        text-align: left;
        font-size: 15px;
        font-family: $def-fonts;
        color: rgba(0, 0, 0, 0.56);
    }
}

#footer {
    grid-area: 4 / 1 / 5 / 2;
    @extend %lg-display-flex;
    padding: 0 20px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;

    ul li {
        display: inline;

        a {
            margin: 3px 11px;
            font-size: 13px;
            font-family: $def-fonts;
            color: #666;
        }
    }
}

@media screen and (max-width: 480px) {
    #country {
        padding-left: 20px;
    }
    
    #footer {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }
}


/* Apps List */

#apps {
    text-align: center;
    position: absolute;
    top: 60px;
    right: 25px;
    width: 30%;
    padding: 25px 0;
    padding-bottom: 0;
    background: #fff;
    color: #000;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    @include transition(.3s);

    .flex-apps {
        @extend %lg-display-flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 50px;
        padding: 0 14px;

        div {
            flex-basis: 33%;
            padding: 10px;
            margin: 10px 0;

            &:hover {
                border: 1px solid #ccc;
            }
        }

        img {
            width: 40%;
        }

        p {
            display: block;
            font-size: 13px;
            font-family: $def-fonts;
            line-height: 20px;
        }
    }

    a {
        display: block;
        font-size: 13px;
        font-family: $def-fonts;
        background: #f5f5f5;
        color: rgba(0,0,0,0.87);
        width: 100%;
        padding: 10px 0;
    }
}

#apps::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 90px;
    width: 0; 
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(0, 0, 0, 0.2);
    z-index: 99;
}

#apps::after {
    @extend #apps::before;
    top: -27px;
    right: 92px;
    border-top: 13px solid transparent;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #fff;
}