/* Default and Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
}

/* Grid Container */

#container {
    display: grid;
    grid-template-rows: 15% 65% 10% 10%;
    grid-template-columns: 100%;
}