// Mixins

@mixin def-btn() {
    padding: 11px 20px;
    margin: 11px 4px;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    background: #f3f3f3;
    color: #757575;
    border-radius: 2px;
}

@mixin transition($duration) {
    -webkit-transition: ease-out $duration;
       -moz-transition: ease-out $duration;
        -ms-transition: ease-out $duration;
         -o-transition: ease-out $duration;
            transition: ease-out $duration;
}