// Utils
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/helpers';


// Defaults and Resets
@import 'base/base';

// Modules
@import 'modules/apps-list';
@import 'modules/notifications';
@import 'modules/user-account';
@import 'modules/settings';

// Partials
@import 'partials/navigation';
@import 'partials/search';
@import 'partials/footer';

// Media Queries & Breakpoints
@import 'utils/breakpoints';

/* Grid Container */

#container {
    display: grid;
    grid-template-rows: 15% 65% 10% 10%;
    grid-template-columns: 100%;
}