// Utils
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/helpers';


// Defaults and Resets
@import 'base/base';


// Media Queries & Breakpoints
@import 'utils/breakpoints';

/* Grid Container */

#container {
    display: grid;
    grid-template-rows: 15% 65% 10% 10%;
    grid-template-columns: 100%;
}

/* Navigation */

#navigation {
    @extend %lg-display-flex;
    grid-area: 1 / 1 / 2 / 2;
    align-items: center;
    padding: 17px 0;

    div:first-child {
        margin-left: 16px;
        color: #000;
        opacity: 0.75;
    }

    div:last-child {
        margin-right: 23px;
        color: #000;
        opacity: 0.85;
    }

    ul {
        display: flex;
        align-items: center;
    }

    ul li {
        display: inline;
        font-size: 13px;
        font-family: $def-fonts, helvetica;
        font-weight: 400;
    }

    ul li a {
        padding: 0 10px;
    }

    ul .fa-th {
        font-size: 18px;
        color: #737373;
    }

    ul .fa-bell {
        padding: 4.5px 0 0 5px;
        font-size: 10px;
        background: rgba(0, 0, 0, 0.65);
        color: #fff;
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 50%;
    }

    ul .fa-user-circle {
        font-size: 29px;
        color: #1362ac;
    }    
}

.sm-show {
    display: none;
}

/* Search */

#search {
    text-align: center;
    grid-area: 2 / 1 / 3 / 2;
    width: 70%;
    margin: 0 auto;
    padding: 140px 0 120px 0;

    img {
        width: 30%;
        margin-bottom: 15px;
    }

    .input {
        width: 65%;
        padding: 13px 15px;
        background: white url('images/mic.png') right no-repeat;
        background-size: 3%;
        border: 0.5px solid #cacaca;
        border-bottom: none;
        border-radius: 1px;
        outline: none;
        box-shadow: 0 1px 1px rgba(114, 114, 114, 0.55);
        @include transition(.4s);

        &:hover, &:active, &:focus {
            box-shadow: 2px 2px 4px rgba(114, 114, 114, 0.55);
        }
    }

    .search-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;

        a {
            @include def-btn();
        }
    }

    .g-versions {
        margin-top: 15px;
        font-size: 13px;
        font-family: $def-fonts, helvetica;
        font-weight: 400;
        color: #222;

        a {
            padding: 0 5px;
            color: #1a0dab;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Footer */

#country {
    grid-area: 3 / 1 / 4 / 2;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    padding-left: 30px;

    p {
        text-align: left;
        font-size: 15px;
        font-family: $def-fonts;
        color: rgba(0, 0, 0, 0.56);
    }
}

#footer {
    grid-area: 4 / 1 / 5 / 2;
    @extend %lg-display-flex;
    padding: 0 20px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;

    ul li {
        display: inline;

        a {
            margin: 0 11px;
            font-size: 13px;
            font-family: $def-fonts;
            color: #666;
        }
    }
}

/* Apps List */

#apps {
    display: none;
    text-align: center;
    position: absolute;
    top: 60px;
    right: 25px;
    width: 30%;
    padding: 25px 0;
    padding-bottom: 0;
    background: #fff;
    color: #000;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    @include transition(.3s);

    .flex-apps {
        @extend %lg-display-flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 50px;
        padding: 0 14px;

        div {
            flex-basis: 33%;
            padding: 10px;
            margin: 10px 0;
            cursor: pointer;

            &:hover {
                border: 1px solid #ccc;
            }
        }

        img {
            width: 40%;
        }

        p {
            display: block;
            font-size: 13px;
            font-family: $def-fonts;
            line-height: 19px;
        }
    }

    a {
        display: block;
        font-size: 13px;
        font-family: $def-fonts;
        background: #f5f5f5;
        color: rgba(0,0,0,0.87);
        width: 100%;
        padding: 10px 0;
    }
}

#apps::before,
#apps::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}

#apps::before {
    top: -30px;
    right: 90px;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(0, 0, 0, 0.2);
}

#apps::after {
    top: -27px;
    right: 92px;
    border-top: 13px solid transparent;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #fff;
}

/* Notification */

#notif {
    display: none;
    text-align: center;
    position: absolute;
    top: 57px;
    right: 25px;
    width: 30%;
    padding-top: 15px;
    background: #eee;
    color: #000;
    border: 1px solid rgba(204, 204, 204, 0.7);
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);

    .flex-notif {
        @extend %lg-display-flex;
        align-items: center;

        div:first-child {
            flex-basis: 25%;
        }

        div:last-child {
            flex-basis: 65%;
            margin-right: 60px;
        }
    }

    .setting-cog {
        font-size: 24px;
        color: rgba(0,0,0,0.54);
    }

    .logo-name {
        font-size: 22px;
        font-family: 'Open Sans', $def-fonts;
        font-weight: 700;
        color: rgba(0,0,0,0.26);
    }

    .main-notif {
        @extend %lg-display-flex;
        justify-content: center;
        align-items: center;
        height: 310px;

        p {
            font-size: 14px;
            font-family: $def-fonts;
            color: #aaa;
        }
    }

    .notif-btn {
        display: block;
        font-size: 13px;
        font-family: $def-fonts;
        background: #f3f3f3;
        color: rgba(0,0,0,0.54);
        width: 100%;
        padding: 4px 0;
    }
}

#notif::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}

#notif::before {
    top: -21px;
    right: 56px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(202, 202, 202, 0.6);
}

/* User Account */

#user {
    text-align: center;
    display: none;
    position: absolute;
    top: 57px;
    right: 22px;
    width: 300px;
    background: #fff;
    color: #000;
    border: 1px solid rgba(204, 204, 204, 0.7);
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);

    .flex-user {
        @extend %lg-display-flex;
        align-items: center;
        padding: 20px;
    }

    .user-avatar {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 90px;
        height: 90px;
        margin-right: 20px;
        background: #1362ac;
        background: url('https://ui-avatars.com/api/?name=John+Doe&background=2a84d8&color=fff&font-size=0.6') center no-repeat;
        background-size: 96px 96px;
        border-radius: 50%;
        overflow: hidden;

        a {
            display: block;
            position: relative;
            bottom: 0;
            font-size: 10px;
            font-family: $def-fonts;
            font-weight: 700;
            background: rgba(0, 0, 0, 0.55);
            color: #fff;
            line-height: 2.5;
        }
    }

    .user-credentials {
        text-align: left;
        flex-basis: 60%;
        
        h2 {
            font-size: 13px;
            font-family: $def-fonts;
            font-weight: 700;
        }

        .user-email {
            margin-bottom: 8px;
            font-size: 13px;
            font-family: $def-fonts;
            font-weight: 400;
            color: #666;
        }

        p {
            margin-bottom: 20px;
            font-size: 13px;
            font-family: $def-fonts;
            font-weight: 400;
            color: #ccc;

            a {
                color: #36c;
            }

        }

        > a {
            padding: 5px 12px;
            font-size: 13px;
            font-family: $def-fonts;
            font-weight: bold;
            background: #4d90fe;
            color: #fff;
            border: 1px solid #3079ed;
            border-radius: 2px;
        }
    }

    .flex-other-user {
        @extend %lg-display-flex;
        padding: 10px 20px;
        background: #f5f5f5;
        border-top: 1px solid rgba(0,0,0,.2);

        &:hover {
            background: #eee;
        }

        a {
            font-size: 50px;
            color: #2a09bb;
        }

        div:last-child {
            text-align: left;
            flex-basis: 75%;
            padding-top: 6px;
        }

        h2 {
            font-size: 13px;
            font-family: $def-fonts;
            font-weight: 400;
            color: #000;
        }

        p {
            font-size: 13px;
            font-family: $def-fonts;
            font-weight: 400;
            color: #666;
        }
    }

    .user-options {
        @extend %lg-display-flex;
        padding: 15px 20px;
        background: #f5f5f5;
        border-top: 1px solid rgba(0,0,0,.2);

        a {
            padding: 6px 12px;
            font-size: 13px;
            font-family: $def-fonts;
            font-weight: 400;
            background: #f8f8f8;
            color: #666;
            border: 1px solid #c6c6c6;
            border-radius: 2px;
        }
    }
}

#user::before,
#user::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}

#user::before {
    top: -24px;
    right: 13px;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgba(0, 0, 0, 0.2);
}

#user::after {
    top: -21px;
    right: 15px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

/* Settings */

#settings {
    display: none;
    position: absolute;
    text-align: left;
    bottom: 31px;
    right: 30px;
    padding: 12px 0;
    background: #fff;
    border: 1px solid #999;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);

    ul li {
        display: block;
        padding: 15px 30px;
        font-size: 13px;
        font-family: $def-fonts;
        font-weight: 400;

        a {
            color: #777;

            &:hover {
                color: #333;
                text-decoration: underline;
            }
        }
    }
}